.userData {
    max-width: 280px;
    min-height: 438px;
}

.avatar {
    border-radius: 12px;
    background-color: var(--transperent-accent-2);
    position: relative;
    width: 227px;
    height: 227px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar > svg {
    display: inline-block;
    position: absolute;
    top: 11px;
    right: 12px;
    opacity: .8;
    cursor: pointer;
}

.avatar > img {
    object-fit: cover;
    width: 227px;
    height: 227px;
}

.avatar label {
    position: absolute;
    width: 122px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-accent-2);
    border-radius: 10px;
    color: var(--text-ctas-buttons);
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.avatar input {
    width: 0;
    height: 0;
    opacity: 0;
}

.instead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-high-priority);
    margin-bottom: 15px;
}

.nickname {
    height: 68px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.nickname > input {
    background-color: var(--surface-background);
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: var(--text-high-priority);
}

.nickname > img {
    position: absolute;
    bottom: 13px;
    right: 17px;
    cursor: pointer;
}

.nickname > input::placeholder {
    color: var(--text-high-priority);
}

.link {
    height: 40px;
    color: var(--text-mid-priority);
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.link > img:first-child {
    width: 24px;
    height: 24px;
}

.link > img:last-child {
    margin-left: auto;
}

@media (max-width: 900px) {
    .userData {
        width: 100%;
        max-width: 100%;
    }

    .avatar {
        margin: 0 auto 32px;
    }
}