.sidebar {
    min-width: 64px;
    border-radius: 8px;
    background-color: var(--surface-high-priority);
    padding: 22px 0 18px;
    text-align: center;
    height: 100%;
}

.sidebar div {
    padding: 2px 0;
    cursor: pointer;
}

.sidebar div + div {
    margin-top: 20px;
}

.sidebar p {
    color: var(--text-mid-priority);
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.07px;
    margin-top: 7px;
}

.sidebar path {
    fill: var(--text-low-priority);
}

.active {
    border-right: 3px solid var(--text-accent-2);
}

.active p {
    color: var(--text-high-priority);
    font-weight: 700;
    font-size: 12px;
    margin-right: -3px;
}

.active svg {
    margin-right: -3px;
}

.active path {
    fill: var(--text-accent-2);
}

.mobileSidebar{
    display: none;
}

@media (max-width: 376px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        height: 74px;
        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
        gap: 28px;
        justify-content: space-between;
        padding: 6px 16px 12px;
        backdrop-filter: blur(5px);
        z-index: 5;
        border-radius: 0;
        background-color: var(--surface-transperent-80);
    }

    .mobileSidebar {
        display: flex;
    }

    .sidebar div {
        width: 46px;
        text-align: center;
    }

    .sidebar div + div {
        margin-top: 0;
    }

    .sidebar p {
        font-size: 13px;
        line-height: 13px;
        margin-top: 5px;
    }

    .sidebar svg {
        width: 23px;
        height: 23px;
    }

    .sidebar .active {
        border-right: none;
    }
}