.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    max-width: calc(100% - 80px);
}

.content {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}

.title {
    color: var(--text-high-priority);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.35px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title a {
    color: var(--text-accent-2);
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.21px;
    font-weight: 700;
}

.title svg {
    width: 7.41px;
    height: 12px;
    transform: rotate(90deg);
    margin-left: 8px;
}

.events {
    padding-bottom: 24px;
    display: flex;
    max-width: calc(100vw - 428px);
    overflow-x: scroll;
    gap: 16px;
}

.event {
    min-width: 260px;
    width: 260px;
    height: 194px;
    background-color: var(--surface-high-priority);
    border-radius: 10px;
    padding-bottom: 8px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.10);
}

.eventHead {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: linear-gradient(105deg, #007AFF -14.64%, #012246 114.64%);
    border-radius: 10px 10px 0 0;
    margin-bottom: 6px;
}

.eventHead > div > div {
    background-color: var(--elements-transperent-black-40);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
}

.eventHead > div > div + div {
    margin-top: 4px;
}

.eventTitle {
    color: var(--text-ctas-buttons);
    font-size: 17px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.41px;
    text-transform: uppercase;
}

.properties {
    display: flex;
    gap: 4px;
    height: 28px;
    padding: 0 8px;
}

.properties div {
    height: 100%;
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 14px;
}

.active {
    background-color: var(--transperent-accent-1);
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.24px;
    color: var(--elements-green);
}

.costs {
    background-color: var(--elements-transperent-black-40);
    color: var(--text-ctas-buttons);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    font-weight: 500;
}

.user {
    background-color: var(--surface-mid-priority);
    color: var(--text-low-priority);
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0.06px;
}

.user img {
    margin-right: 6px;
}

.tags {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: var(--text-accent-2);
    padding: 4px 8px 6px;
}

.buttons {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    height: 42px;
}

.buttons button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--surface-mid-priority);
    border-radius: 6px;
    color: var(--text-high-priority);
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    font-weight: 700;
}

@media (max-width: 1450px) {
    .title {
        font-size: 18px;
        margin-bottom: 0;
    }

    .title a {
        font-size: 13px;
    }

    .eventTitle {
        font-size: 13px;
    }

    .events {
        padding-bottom: 10px;
        gap: 10px;
        max-width: calc(100vw - 408px);
    }

    .event {
        min-width: 200px;
        width: 200px;
        overflow: hidden;
        height: 100%;
    }

    .eventHead {
        height: 65px;
        padding: 8px;
    }

    .eventHead > div > div {
        width: 24px;
        height: 24px;
    }

    .eventHead img {
        width: auto;
        height: 14px;
    }

    .properties {
        height: 20px;
    }

    .properties > div {
        font-size: 11px;
        padding: 0 4px;
        border-radius: 6px;
    }

    .user img {
        margin-left: 2px;
        margin-right: 4px;
    }

    .tags {
        font-size: 11px;
        line-height: 11px;
    }

    .buttons {
        height: 32px;
    }

    .buttons button {
        font-size: 13px;
    }
}

