:root {
    --surface-background: #E1E1E5;
    --surface-transperent-80: rgba(255, 255, 255, 0.8);
    --surface-transperent-40: rgba(255, 255, 255, 0.4);
    --surface-high-priority: #ffffff;
    --surface-mid-priority: #F2F2F7;
    --elements-orange: #f57425;
    --elements-red: #ed2939;
    --elements-transperent-black-40: rgba(0, 0, 0, .4);
    --elements-green: #34c759;
    --transperent-accent-1: rgba(52, 199, 89, .15);
    --transperent-accent-2: rgba(0, 122, 255, .15);
    --transperent-accent-3: rgba(237, 41, 57, .15);
    --transperent-accent-4: rgba(245, 116, 37, .15);
    --elements-accent-5: #7bbaff;
    --text-accent-1: #34c759;
    --text-accent-2: #007aff;
    --text-accent-3: #ed2939;
    --text-accent-4: #f57425;
    --text-ctas-buttons: #ffffff;
    --text-high-priority: #373737;
    --text-mid-priority: #616161;
    --text-low-priority: #878787;
}

/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 20px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    color: inherit;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h6 {
    font-size: inherit;
    font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    background: var(--surface-background);
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.filters .searchInput {
    display: none;
}

@media (max-width: 500px) {
    .header .searchInput {
        display: none;
    }

    .filters .searchInput {
        display: block;
    }
}

.rdp {
    margin: 0 !important;
    width: 290px !important;
    min-width: 290px !important;
    padding: 12px !important;
    background-color: var(--surface-mid-priority) !important;
    border-radius: 8px !important;
    height: fit-content !important;
    --rdp-caption-font-size: 15px !important;
    font-weight: 500 !important;
    color: var(--text-mid-priority) !important;
    --rdp-cell-size: 38px !important;
    --rdp-accent-color: var(--text-accent-2) !important;
}

.rdp svg {
    height: 13px !important;
}

.rdp svg path {
    fill: var(--text-low-priority) !important;
}

.rdp-head_cell {
    font-size: 12px !important;
    font-weight: 500 !important;
}

.rdp-tbody {
    border-radius: 6px !important;
    background-color: var(--surface-high-priority) !important;
}

.rdp-caption {
    max-width: 266px !important;
}

.rdp-nav_button {
    padding: 0 !important;
    width: 24px !important;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: var(--transperent-accent-2) !important;
}

.rdp-day_today {
    color: var(--text-accent-2) !important;
}

.rdp-day_selected.rdp-day_today {
    color: var(--text-ctas-buttons) !important;
}

.rdp-weeknumber, .rdp-day {
    font-size: 12px !important;
}

.rdp-nav {
    display: flex;
    gap: 12px;
}

.rdp-caption_label {
    padding: 0 !important;
}

.rdp-table, .rdp-month, .rdp-head_row, .rdp-head, .rdp-tbody {
    max-width: 266px !important;
    width: 266px !important;
}

.rdp-head {
    height: 40px !important;
    border-top: 8px solid var(--surface-mid-priority) !important;
    border-bottom: 8px solid var(--surface-mid-priority) !important;
}

.rdp-head_cell {
    max-width: 38px !important;
}

.rdp-tbody .rdp-row:first-child td:first-child {
    border-radius: 6px 0 0 0 !important;
}

.rdp-tbody .rdp-row:first-child td:last-child {
    border-radius: 0 6px 0 0 !important;
}
