.basket {
    min-width: 374px;
    border-radius: 12px;
    height: fit-content;
    background-color: var(--surface-mid-priority);
    overflow: hidden;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity .2s linear;
}

.zeroOpacity {
    opacity: 0;
    pointer-events: none;
}

.basketHeading {
    display: flex;
    border-radius: 12px 12px 0 0;
    height: 48px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: var(--surface-high-priority);
    padding: 0 16px;
}

.betSlip {
    width: 78px;
    font-size: 17px;
    font-weight: 700;
    color: var(--text-high-priority);
}

.clearAll {
    width: 78px;
    height: 24px;
    border-radius: 12px;
    background-color: var(--surface-background);
    padding: 0 8px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    color: var(--text-low-priority);
    cursor: pointer;
}

.betType {
    width: 125px;
    background-color: var(--surface-mid-priority);
    border-radius: 9px;
    height: 36px;
    border: 1px solid var(--surface-background);
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

.betType div {
    width: 50%;
    font-size: 13px;
    color: var(--text-mid-priority);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.betType .betTypeActive {
    height: 100%;
    border: 1px solid var(--text-accent-2);
    border-radius: 7px;
    box-shadow: 0 4px 10px 0 #00000026;
    font-weight: 500;
    color: var(--text-high-priority);
    background-color: var(--surface-high-priority);
}

.emptyBasket {
    padding: 112px 16px 170px;
    font-size: 16px;
    line-height: 21px;
    color: var(--text-low-priority);
    font-weight: 400;
    text-align: center;
}

.emptyBasket img {
    width: 90px;
    height: 90px;
    margin-bottom: 18px;
}

.emptyBasket button {
    background-color: var(--surface-background);
    border-radius: 10px;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--elements-transperent-black-40);
    margin-top: 18px;
}

.basketContent {
    padding: 14px 16px 16px;
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    max-height: calc(100vh - 146px);
}

.selectionText {
    font-weight: 500;
    font-size: 15px;
    color: var(--text-accent-2);
    margin-bottom: 9px;
}

.selection {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    width: 374px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 0 16px 12px;
}

.selectionSelect {
    display: flex;
    max-width: 182px;
    width: 182px;
    min-width: 182px;
    background-color: var(--surface-background);
    padding: 2px;
    height: 44px;
    border-radius: 24px;
    gap: 8px;
    overflow: hidden;
    justify-content: space-between;
}

.selectionSelect input {
    width: 62px;
    padding-left: 14px;
    background-color: var(--surface-background);
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    font-size: 13px;
    color: var(--text-low-priority);
    border-radius: 20px;
}

.selectionSelect div {
    display: flex;
    height: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    width: 106px;
    background-color: var(--surface-high-priority);
    border: 1px solid var(--transperent-accent-2);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    color: var(--text-mid-priority);
    font-size: 16px;
}

.selectionAmount {
    min-width: 101px;
    min-height: 100%;
    border-radius: 22px;
    background-color: var(--surface-high-priority);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--text-mid-priority);
    font-weight: 400;
    height: 44px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.activeSelectionAmount {
    border: none;
    background-color: var(--text-accent-2);
    color: var(--text-ctas-buttons);
    box-shadow: 0 4px 7px 0 #0000001A;
}

.event {
    margin-bottom: 12px;
    border-bottom: 1px solid var(--transperent-accent-2);
}

.eventHead {
    width: 100%;
    height: 40px;
    display: flex;
    background: linear-gradient(91.8deg, #017BFF 0%, #022B58 88.37%);
    padding: 0 12px 0 8px;
    align-items: center;
    gap: 8px;
    margin-bottom: 9px;
    border-radius: 6px;
    color: var(--text-ctas-buttons);
    font-size: 16px;
    font-weight: 700;
}

.flag {
    height: 16px;
    width: auto;
}

.oddsWrapper {
    display: flex;
    align-items: end;
    gap: 10px;
    width: 374px;
    margin: 0 -16px;
    padding: 0 16px 12px;
    overflow-x: auto;
    overflow-y: hidden;
}

.oddsHeading {
    margin-bottom: 4px;
    font-size: 13px;
    display: flex;
    align-items: center;
    min-height: 16px;
    color: var(--text-mid-priority);
    font-weight: 400;
}

.odds {
    display: flex;
    height: 44px;
    gap: 8px;
}

.odd {
    height: 100%;
    width: 60px;
    border-radius: 6px;
    border: 1px solid var(--elements-accent-5);
    box-shadow: 0 4px 7px 0 #0000001A;
    background-color: var(--surface-high-priority);
    cursor: pointer;
}

.activeOdd {
    border-color: var(--elements-orange);
    box-shadow: 0 2px 10px 0 rgba(245, 116, 37, 0.5);
}

.odd div {
    border-bottom: 1px solid var(--transperent-accent-2);
    display: flex;
    align-items: center;
    height: 21px;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-mid-priority);
}

.activeOdd div {
    border-bottom-color: var(--transperent-accent-4);
}

.odd span {
    display: flex;
    height: 23px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 700;
    color: var(--text-accent-2);
}

.activeOdd span {
    color: var(--elements-orange);
}

.amount {
    display: flex;
    justify-content: space-between;
    height: 56px;
    gap: 8px;
    padding-bottom: 12px;
}

.amount div {
    height: 100%;
    width: 72px;
    border-radius: 22px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--text-mid-priority);
    font-weight: 400;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--surface-high-priority);
    cursor: pointer;
}

.amount .activeAmount {
    border: none;
    background-color: var(--text-accent-2);
    color: var(--text-ctas-buttons);
    box-shadow: 0 4px 7px 0 #0000001A;
}

.amount input {
    width: 100px;
    height: 100%;
    border-radius: 8px;
    background-color: var(--surface-background);
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-high-priority);
}

.total {
    padding: 15px 12px 12px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--surface-background);
}

.total > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-high-priority);
}

.total img {
    cursor: pointer;
    width: 12px;
    height: 13.5px;
    margin-left: 11px;
}

.blue {
    font-weight: 700;
    color: var(--text-accent-2);
}

.totalOddsText {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--surface-transperent-40);
}

.totalReturnText {
    margin-bottom: 3px;
    margin-top: 9px;
}

.totalEvents {
    margin-top: 6px;
}

.totalEvent {
    display: flex;
    align-items: center;
    width: 278px;
    height: 36px;
    border-radius: 6px;
    padding: 0 16px 0 8px;
    background-color: var(--surface-high-priority);
    font-size: 15px;
    color: var(--text-mid-priority);
}

.eventName {
    font-weight: 700;
    margin-right: 2px;
}

.eventOdds {
    font-weight: 500;
    color: var(--text-accent-4);
    margin-right: 4px;
}

.eventTeam {
    font-weight: 400;
}

.eventCost {
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-high-priority);
}

.placeBetWrapper {
    position: relative;
}

.placeBetWrapper > p {
    width: 342px;
    height: 48px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.placeBet {
    box-shadow: 0 4px 7px 0 #0000001A;
    width: 100%;
    height: 48px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    color: var(--text-ctas-buttons);
    font-size: 16px;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.delete {
    margin-left: auto;
    cursor: pointer;
}

.closeModal {
    display: none;
}

.pageBg {
    opacity: 0;
    position: fixed;
    width: 1024px;
    height: 996px;
    top: 0;
    right: 0;
    background: linear-gradient(270deg,
    rgba(0, 0, 0, 0.40) 24.41%,
    rgba(0, 0, 0, 0.00) 61.67%);
    z-index: 29;
    pointer-events: none;
    transition: opacity .2s linear;
}

.openBasket {
    display: none;
}

@media (max-width: 1025px) {
    .placeBetWrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .placeBetWrapper > span {
        min-width: 48px;
        min-height: 48px;
        border-radius: 10px;
        border: 2px solid var(--text-accent-2);
        position: relative;
        cursor: pointer;
    }

    .placeBetWrapper > span::after,
    .placeBetWrapper > span::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 2px;
        background-color: var(--text-accent-2);
    }

    .placeBetWrapper > span::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .placeBetWrapper > span::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .placeBetWrapper > p {
        width: 287px;
        top: 8px;
    }

    .placeBet {
        width: 287px;
    }

    .openBasket {
        display: flex;
        align-items: center;
        padding: 12px 16px 12px 12px;
        position: fixed;
        bottom: 100px;
        right: 16px;
        width: 300px;
        height: 54px;
        overflow: hidden;
        border-radius: 8px;
        font-size: 13px;
        font-weight: 700;
        color: var(--text-ctas-buttons);
        cursor: pointer;
        gap: 4px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    }

    .openBasket > div {
        width: 300px;
        height: 54px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .openBasket > img {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 4px;
    }

    .openBasket > span {
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background-color: var(--elements-red);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: 500;
        color: var(--text-ctas-buttons);
    }

    .basket {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(105%, 16px);
        z-index: 30;
        width: 372px;
        transition: transform .2s linear;
        max-height: calc(100vh - 100px);
    }

    .open {
        transform: translate(-16px, 16px);
    }

    .showPageBg.pageBg {
        opacity: 1;
        pointer-events: initial;
    }
}

@media (max-width: 500px) {
    .closeModal {
        display: block;
        position: fixed;
        opacity: 0;
        pointer-events: none;
        top: -48px;
        right: 8px;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, .4);
        box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.1);
        transition: opacity .2s linear;
        border-radius: 50%;
        cursor: pointer;
    }

    .closeModal::after, .closeModal::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        background-color: var(--surface-high-priority);
    }

    .closeModal::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .closeModal::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .open .closeModal {
        opacity: 1;
        pointer-events: initial;
    }

    .oddsWrapper {
        width: 100vw;
    }

    .selection {
        width: 100vw;
    }

    .basket {
        position: fixed;
        top: 64px;
        left: 0;
        right: 0;
        max-width: 100%;
        width: 100%;
        min-width: auto;
        height: 100vh;
        min-height: calc(100vh - 64px);
        z-index: 100;
        transform: translateY(105%);
        transition: transform .2s linear;
        overflow: initial;
        background-color: var(--surface-high-priority);
    }

    .open.basket::after {
        content: "";
        position: absolute;
        top: -65px;
        left: -1px;
        bottom: -74px;
        right: -1px;
        background-color: rgba(55, 55, 55, 0.25);
        z-index: -1;
    }

    .open {
        transform: translateY(0);
    }

    .basketContent {
        max-height: calc(100vh - 64px);
        min-height: 100%;
        padding-bottom: 140px;
        background-color: var(--surface-high-priority);
    }

    .placeBetWrapper {
        position: fixed;
        bottom: 0;
        left: -1px;
        right: -1px;
        height: 74px;
        padding: 10px 16px 16px;
        background-color: var(--surface-transperent-40);
        box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        z-index: 200;
    }

    .placeBet {
        width: calc(100vw - 32px);
        height: 48px;
        margin-top: 0;
    }

    .placeBetWrapper > span {
        display: none;
    }

    .placeBetWrapper > p {
        top: 10px;
        left: 16px;
        width: calc(100vw - 32px)
    }

    .placeBetWrapper > p > div {
        width: calc(100vw - 32px) !important;
    }

    .total > div {
        gap: 17px;
    }

    .totalEvent {
        width: 100%;
    }

    .openBasket {
        left: 0;
        right: 0;
        bottom: 74px;
        height: 28px;
        padding: 0 12px;
        width: auto;
        border-radius: 0;
        box-shadow: none;
        z-index: 10;
        overflow: initial;
    }

    .openBasket > div {
        width: 100% !important;
        height: 28px !important;
    }

    .openBasket img {
        position: absolute;
        right: 12px;
        top: -8px;
        z-index: 100;
    }

    .showPageBg {
        display: none;
    }
}