.basket {
    min-width: 374px;
    border-radius: 12px;
    border: 1px solid var(--text-accent-2);
    /*height: 548px;*/
    background-color: var(--surface-high-priority);
}

.basketHeading {
    display: flex;
    border-radius: 12px 12px 0 0;
    height: 44px;
    overflow: hidden;
}

.basketHeading > div {
    /*width: 50%;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--surface-high-priority);
    font-size: 17px;
    color: var(--text-high-priority);
    font-weight: 700;
}

.basketHeading > div + div {
    box-shadow: 5px 0px 4px 0px rgba(0, 0, 0, 0.15) inset;
    color: var(--text-low-priority);
    background: var(--surface-background);
}

.emptyBasket {
    padding: 112px 18px 170px;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-low-priority);
    font-weight: 400;
    text-align: center;
}

.emptyBasket img {
    width: 90px;
    height: 90px;
    margin-bottom: 18px;
}

.emptyBasket button {
    background-color: var(--surface-mid-priority);
    border-radius: 10px;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--elements-transperent-black-40);
    margin-top: 18px;
}

.basketContent {
    padding: 14px 16px 16px;
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    max-height: calc(100vh - 146px);
}

.betType {
    width: 100%;
    background-color: var(--surface-mid-priority);
    border-radius: 12px;
    height: 44px;
    border: 1px solid var(--surface-high-priority);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 1px;
    margin-bottom: 11px;
}

.betType div {
    width: 50%;
    font-size: 16px;
    color: var(--text-mid-priority);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.betType .betTypeActive {
    height: 100%;
    border: 2px solid var(--text-accent-2);
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px #0000001A;
    font-weight: 500;
    color: var(--text-high-priority);
    background-color: var(--surface-high-priority);
}

.selectionText {
    font-weight: 500;
    font-size: 15px;
    color: var(--text-accent-2);
    margin-bottom: 9px;
}

.selection {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    width: 374px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 0 16px;
    margin-bottom: 12px;
}

.selectionSelect {
    display: flex;
    max-width: 184px;
    background-color: var(--surface-mid-priority);
    padding: 4px;
    height: 48px;
    border-radius: 24px;
}

.selectionSelect div {
    display: flex;
    height: 100%;
    width: 70px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    color: var(--text-low-priority);
    font-size: 13px;
    font-weight: 400;
}

.selectionSelect div.selectionLong {
    width: 106px;
}

.selectionSelect .activeSelection {
    border: 1px solid var(--elements-accent-5);
    box-shadow: 0px 4px 7px 0px #0000001A;
    font-size: 16px;
    color: var(--text-mid-priority);
    background-color: var(--surface-high-priority);
}

.selectionAmount {
    min-width: 101px;
    min-height: 100%;
    border-radius: 24px;
    border: 1px solid var(--elements-accent-5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--text-mid-priority);
    font-weight: 400;
}

.activeSelectionAmount {
    border: none;
    background-color: var(--text-accent-2);
    color: var(--text-ctas-buttons);
    box-shadow: 0px 4px 7px 0px #0000001A;
}

.event {
    margin-bottom: 12px;
    border-bottom: 1px solid var(--transperent-accent-2);
}

.eventHead {
    width: 100%;
    height: 40px;
    display: flex;
    background: linear-gradient(91.8deg, #017BFF 0%, #022B58 88.37%);
    padding: 0 12px 0 8px;
    align-items: center;
    gap: 8px;
    margin-bottom: 9px;
    border-radius: 6px;
    color: var(--text-ctas-buttons);
    font-size: 16px;
    font-weight: 700;
}

.flag {
    height: 16px;
    width: auto;
}

.oddsWrapper {
    display: flex;
    gap: 10px;
    width: 374px;
    margin: 0 -16px 12px;
    padding: 0 16px;
    overflow-x: auto;
    overflow-y: hidden;
}

.oddsHeading {
    margin-bottom: 4px;
    font-size: 13px;
    display: flex;
    align-items: center;
    height: 16px;
    color: var(--text-mid-priority);
    font-weight: 400;
}

.odds {
    display: flex;
    height: 57px;
    gap: 8px;
}

.odd {
    height: 100%;
    width: 80px;
    border-radius: 6px;
    border: 1px solid var(--elements-accent-5);
    box-shadow: 0px 4px 7px 0px #0000001A;
    background-color: var(--surface-high-priority);
}

.odd div {
    border-bottom: 1px solid var(--transperent-accent-2);
    display: flex;
    align-items: center;
    height: 27px;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-mid-priority);
}

.odd span {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-accent-2);
}

.amount {
    display: flex;
    justify-content: space-between;
    height: 48px;
    gap: 8px;
    margin-bottom: 12px;
}

.amount div {
    height: 100%;
    width: 72px;
    border-radius: 24px;
    border: 1px solid var(--elements-accent-5);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--text-mid-priority);
    font-weight: 400;
}

.amount input {
    width: 100px;
    height: 100%;
    border-radius: 8px;
    background-color: var(--surface-mid-priority);
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-high-priority);
}

.total {
    padding: 15px 12px 12px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--surface-mid-priority);
}

.total > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-high-priority);
}

.total img {
    cursor: pointer;
    width: 12px;
    height: 13.5px;
    margin-left: 11px;
}

.blue {
    font-weight: 700;
    color: var(--text-accent-2);
}

.totalOddsText {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--surface-transperent-40);
}

.totalReturnText {
    margin-bottom: 3px;
    margin-top: 9px;
}

.totalEvents {
    margin-top: 6px;
}

.totalEvent {
    display: flex;
    align-items: center;
    width: 278px;
    height: 36px;
    border-radius: 6px;
    padding: 0 16px 0 8px;
    background-color: var(--surface-high-priority);
    font-size: 15px;
    color: var(--text-mid-priority);
}

.eventName {
    font-weight: 700;
    margin-right: 2px;
}

.eventOdds {
    font-weight: 500;
    color: var(--text-accent-4);
    margin-right: 4px;
}

.eventTeam {
    font-weight: 400;
}

.eventCost {
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-high-priority);
}

.placeBet {
    box-shadow: 0px 4px 7px 0px #0000001A;
    width: 100%;
    height: 48px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--elements-accent-5);
    color: var(--text-ctas-buttons);
    font-size: 16px;
    font-weight: 500;
}

.delete {
    margin-left: auto;
    cursor: pointer;
}

@media (max-width: 500px) {
    .basket {
        position: fixed;
        top: 16px;
        left: 0;
        right: 0;
        max-width: 100%;
        min-width: auto;
        height: 100vh;
        z-index: 100;
        transform: translateY(100%);
        transition: transform .2s linear;
    }

    .open {
        transform: translateY(0);
    }

    .basketContent {
        max-height: calc(100vh - 60px);
        padding-bottom: 80px;
    }

    .placeBetWrapper {
        position: fixed;
        bottom: 15px;
        left: -1px;
        right: -1px;
        height: 74px;
        padding: 10px 16px 16px;
        background-color: var(--surface-transperent-40);
        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        z-index: 200;
    }

    .placeBet {
        width: 100%;
        height: 48px;
        margin-top: 0;
    }
}