.filters {
    min-width: 374px;
    max-width: 374px;
    border-radius: 12px;
    background-color: var(--surface-mid-priority);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
    height: fit-content;
    position: relative;
}

.filtersHeading {
    border-radius: 12px 12px 0 0;
    background-color: var(--surface-high-priority);
    padding: 8px;
}

.filtersHeading > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 44px;
    border-radius: 9px;
    background-color: var(--surface-mid-priority);
    padding: 4px;
    cursor: pointer;
}

.filterType {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    letter-spacing: -0.24px;
    color: var(--text-mid-priority);
    font-weight: 500;
}

.filterTypeActive {
    background-color: var(--surface-high-priority);
    border-radius: 7px;
    border: 1px solid var(--text-accent-2);
    font-weight: 700;
    color: var(--text-high-priority);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.10);
}

.classicFilter {
    display: block;
    padding: 14px 16px 16px;
    color: var(--text-mid-priority);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s linear;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
}

.classicFilter.chosenFilter {
    opacity: 1;
    pointer-events: all;
    position: relative;
    top: 0;
    height: fit-content;
}

.title {
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 9px;
}

.filter {
    width: 100%;
    background-color: var(--surface-high-priority);
    border-radius: 8px;
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    height: 36px;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
}

div + .filterWrapper {
    margin-top: 8px;
}

.filter > span {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 4px;
}

.filter > span > img {
    margin-right: -4px;
    display: none;
}

.filterActive {
    background-color: var(--text-accent-2);
    color: var(--text-ctas-buttons);
}

.filterActive > span > img {
    display: inline-block;
}

.filterActive svg path {
    fill: white;
}

.leagues {
    width: 322px;
    border: 1px solid var(--text-accent-2);
    background-color: var(--surface-high-priority);
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    position: relative;
}

.leagues > span {
    position: absolute;
    height: 100%;
    width: 1px;
    top: -17px;
    left: -9px;
    background-color: var(--text-accent-2);
}

.leagues > div {
    border-radius: 0;
    position: relative;
    overflow: initial;
}

.leagues > div::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 1px;
    background-color: var(--text-accent-2);
    top: 50%;
    left: -9px;
}

.leagues > div {
    border-top: 1px solid var(--text-accent-2);
    margin-top: 0;
}

.leagues > div:first-child {
    border-radius: 6px 6px 0 0;
    border-top: none;
}

.leagues > div:last-child {
    border-radius: 0 0 8px 8px;
}

.tagFilter {
    display: block;
    position: absolute;
    padding: 12px;
    width: 100%;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s linear;
    height: 0;
}

.tagFilter.chosenFilter {
    opacity: 1;
    pointer-events: all;
    position: relative;
    top: 0;
    height: fit-content;
}

.tagTitle {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: var(--text-mid-priority);
    margin-left: 8px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-top: 2px;
    border-left: 2px solid var(--elements-orange);
}

.tags {
    display: flex;
    justify-content: space-between;
    gap: 8px 0px;
    flex-wrap: wrap;
}

.tag {
    width: 171px;
    min-height: 36px;
    border-radius: 18px;
    background-color: var(--surface-high-priority);
    border: 1px solid var(--surface-mid-priority);
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--text-accent-2);
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
}

.tagActive {
    background-color: var(--text-accent-2);
    color: var(--text-ctas-buttons);
}

.byStatusTags .tag {
    width: fit-content;
    padding: 0 12px;
}

.leagueTag + .tagTitle,
.leagueTag .tagTitle,
.tags + .tagTitle {
    margin-top: 16px;
}

.tag span {
    color: var(--text-low-priority);
    margin-left: auto;
}

.tagActive span {
    color: var(--text-ctas-buttons);
}

.tag img {
    margin-right: 8px;
}

.tag svg {
    margin-right: 8px;
}

.tag svg path {
    fill: var(--text-accent-2);
}

.tagActive > svg > path {
    fill: var(--text-ctas-buttons);
}

.clearFilter {
    width: 100%;
    margin-top: 16px;
    background-color: transparent;
    border-radius: 10px;
    height: 48px;
    border: 2px solid var(--text-accent-2);
    color: var(--text-accent-2);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtersHeading > .filtersHeadingMobile {
    display: none;
}

.backToMain {
    display: none;
}

.search {
    display: block;
    width: 100%;
    height: 36px;
    color: var(--text-mid-priority);
    background-color: var(--surface-mid-priority);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.32px;
    padding: 13.5px 8px 13.5px 36px;
    border-radius: 48px;
    max-width: 481px;
    margin-bottom: 18px;
}

.input {
    display: none;
    width: 100%;
    position: relative;
}

.input::before {
    content: url("/search.svg");
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.apply {
    display: none;
}

.classicFilter .clearFilter {
    display: none;
}

.closeFilter {
    display: none;
}

.pageBg {
    opacity: 0;
    position: fixed;
    width: 1024px;
    height: 996px;
    top: 0;
    right: 0;
    background: linear-gradient(270deg,
    rgba(0, 0, 0, 0.40) 24.41%,
    rgba(0, 0, 0, 0.00) 61.67%);
    z-index: 29;
    pointer-events: none;
    transition: opacity .2s linear;
}

@media (max-width: 1350px) {
    .classicFilter .clearFilter {
        display: block;
    }

    .closeFilter {
        display: block;
        min-width: 48px;
        width: 48px;
        height: 48px;
        position: relative;
    }

    .closeFilter::after, .closeFilter::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 20px;
        background-color: var(--text-accent-2);
    }

    .closeFilter::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .closeFilter::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .filters {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(105%, 96px);
        z-index: 1;
        width: 372px;
        transition: transform .2s linear;
        height: 0;
        overflow: hidden;
    }

    .filterOpen {
        transform: translate(-16px, 96px);
        height: fit-content;
        overflow: initial;
    }

    .filterShow {
        height: fit-content;
        overflow: initial;
    }

    .backToMain {
        display: block;
    }

    .buttonsWrapper {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }
}

@media (max-width: 1025px) {
    .showPageBg.pageBg {
        opacity: 1;
        pointer-events: initial;
    }

    .filters {
        transform: translate(105%, 16px);
        z-index: 30;
        box-shadow: none;
    }

    .filterOpen {
        transform: translate(-16px, 16px);
    }
}

@media (max-width: 500px) {
    .input {
        display: block;
    }

    .filters {
        overflow-y: auto;
        min-height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 1;
        height: 100%;
        width: 100%;
        min-width: 100%;
        border-radius: 0;
        border: none;
        transition: transform .2s linear;
        padding-bottom: 100px;
    }

    .filterOpen {
        transform: translateX(0);
    }

    .filtersHeading {
        padding: 0px;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filtersHeading > .filtersHeadingMobile {
        display: flex;
        border-radius: 0;
        background-color: var(--surface-transperent-80);
        height: 44px;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 16px;
        width: 0;
        border: none;
    }

    .filtersHeadingMobile span {
        padding-left: 24px;
        font-size: 13px;
        font-weight: 700;
        color: var(--text-accent-2);
        position: relative;
        cursor: pointer;
    }

    .filtersHeadingMobile span::before {
        content: url("/sports/arrowLeftBlue.svg");
        position: absolute;
        top: 50%;
        width: 7.41px;
        height: 12px;
        transform: translateY(-50%);
        left: 8px;
    }

    .filtersHeadingMobile img {
        width: 28px;
        height: 28px;
        display: inline-block;
    }

    .filtersHeadingMobile div {
        font-size: 17px;
        font-weight: 500;
        color: var(--text-high-priority);
        margin-right: 33px;
    }

    .filtersHeading > div {
        width: 196px;
        padding: 1px;
        height: 36px;
        border: 1px solid var(--surface-background);
        margin-right: auto;
    }

    .filtersHeading > div + div {
        margin-left: -16px;
    }

    .filterType {
        font-size: 13px;
    }

    .tagFilter {
        padding: 16px;
    }

    .classicFilter .clearFilter, .clearFilter {
        display: none;
    }

    .backToMain {
        width: 100%;
        margin-top: 16px;
        background-color: transparent;
        border-radius: 10px;
        height: 48px;
        border: 2px solid var(--text-accent-2);
        color: var(--text-accent-2);
        font-size: 16px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 24px;
        position: relative;
    }

    .backToMain::before {
        content: url("/sports/arrowLeftBlue.svg");
        position: absolute;
        top: 50%;
        width: 7.41px;
        height: 12px;
        transform: translateY(-65%);
        left: calc(50% - 55px);
    }

    .tag {
        width: 48%;
    }

    .byStatusTags {
        flex-wrap: wrap;
    }

    .pageBg {
        display: none;
    }
}

@media (max-width: 370px) {
    .filtersHeadingMobile span {
        font-size: 0;
    }
}