.filters {
    min-width: 374px;
    max-width: 374px;
    border-radius: 12px;
    background-color: var(--surface-background);
    border: 1px solid var(--text-accent-2);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
    height: fit-content;
    position: relative;
}

.filtersHeading {
    border-radius: 12px 12px 0 0;
    background-color: var(--surface-high-priority);
    padding: 8px;
}

.filtersHeading > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 44px;
    border-radius: 9px;
    background-color: var(--surface-mid-priority);
    padding: 4px;
    cursor: pointer;
}

.filterType {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    letter-spacing: -0.24px;
    color: var(--text-mid-priority);
    font-weight: 500;
}

.filterTypeActive {
    background-color: var(--surface-high-priority);
    border-radius: 7px;
    border: 1px solid var(--text-accent-2);
    font-weight: 700;
    color: var(--text-high-priority);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.10);
}

.classicFilter {
    display: block;
    padding: 14px 16px 16px;
    color: var(--text-mid-priority);
    position: relative;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.title {
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 9px;
}

.filter {
    width: 100%;
    background-color: var(--surface-high-priority);
    border-radius: 8px;
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    height: 36px;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
}

.filter + div {
    margin-top: 8px;
}

.filter > span {
    margin-left: auto;
}

.filterActive {
    background-color: var(--text-accent-2);
    color: var(--text-ctas-buttons);
}

.leagues {
    position: absolute;
    display: none;
}

.tagFilter {
    display: block;
    position: absolute;
    padding: 12px;
    width: 100%;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
}

.tagTitle {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: var(--text-mid-priority);
    margin-left: 8px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-top: 2px;
    border-left: 2px solid var(--elements-orange);
}

.tags {
    display: flex;
    justify-content: space-between;
    gap: 8px 0px;
    flex-wrap: wrap;
}

.tag {
    width: 171px;
    height: 36px;
    border-radius: 18px;
    background-color: var(--surface-high-priority);
    border: 1px solid var(--surface-mid-priority);
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--text-accent-2);
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
}

.tag span {
    color: var(--text-low-priority);
    margin-left: auto;
}

.tag img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.clearFilter {
    width: 100%;
    margin-top: 16px;
    background-color: transparent;
    border-radius: 10px;
    height: 48px;
    border: 2px solid var(--text-accent-2);
    color: var(--text-accent-2);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}