.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    position: relative;
}

.content {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 100px);
    max-width: 1028px;
}

.contentHeading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    color: var(--text-high-priority);
    margin-bottom: 8px;
}

.timeSort {
    display: flex;
    gap: 8px;
}

.timeSort div {
    padding: 0 12px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: var(--surface-high-priority);
    border: 1px solid var(--surface-mid-priority);
    color: var(--text-accent-2);
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.timeSort .activeSort {
    border: none;
    background-color: var(--text-accent-2);
    color: var(--text-ctas-buttons);
}

.events {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--surface-high-priority);
    box-shadow: 0px 4px 7px 0px #0000001A;
    padding-bottom: 4px;
    margin-bottom: 16px;
}

.events.closed {
    max-height: 44px;
}

.closed .headArrow {
    transform: rotate(180deg);
}

.eventHeading {
    background: linear-gradient(104.96deg, #007AFF -14.64%, #012246 114.64%);
    height: 44px;
    display: flex;
    align-items: center;
    color: var(--text-ctas-buttons);
    font-size: 13px;
    font-weight: 700;
    gap: 8px;
    padding: 0 18px;
    cursor: pointer;
}

.headArrow {
    margin-left: auto;
}

.eventWrapper {
    width: 100%;
    padding: 12px 16px;
    border-top: 1px solid var(--transperent-accent-2);
}

.event {
    width: 100%;
    border-radius: 8px;
    background-color: var(--surface-background);
    height: 100%;
    padding: 8px 16px;
    display: flex;
    gap: 9px;
    align-items: end;
}

.teamsWrapper {
    min-width: 296px;
}

.teamsHeading {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 4px;
}

.teamsHeading div {
    margin-right: auto;
    font-size: 13px;
    color: var(--text-mid-priority);
}

.teamsHeading p {
    margin-right: 8px;
    font-size: 11px;
    font-weight: 500;
    color: var(--elements-green);
}

.teamsHeading span {
    height: 16px;
    width: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--elements-transperent-black-40);
    box-shadow: 0px -5px 10px 0px #0000001A;
}

.teamsHeading span + span {
    margin-left: 4px;
}

.teamsHeading img {
    height: 9px;
    width: auto;
}

.teams {
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    padding: 0 5px;
    background-color: var(--surface-high-priority);
    font-size: 16px;
    font-weight: 700;
    color: var(--text-high-priority);
    border-radius: 6px;
}

.teams > p {
    display: none;
}

.teams > span {
    margin: 0 10px 0 5px;
}

.team > div {
    display: flex;
    align-items: center;
}

.team span {
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--surface-mid-priority);
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team img {
    width: 20px;
    height: 20px;
}

.oddsWrapper {
    display: flex;
    align-items: end;
    gap: 8px;
}

.oddsHeading {
    margin-bottom: 4px;
    font-size: 13px;
    display: flex;
    align-items: center;
    min-height: 16px;
    color: var(--text-mid-priority);
    font-weight: 400;
}

.oddsHeading img {
    margin-left: 7px;
}

.odds {
    display: flex;
    height: 57px;
    gap: 8px;
}

.odd {
    height: 100%;
    width: 80px;
    border-radius: 6px;
    border: 1px solid var(--elements-accent-5);
    box-shadow: 0px 4px 7px 0px #0000001A;
    background-color: var(--surface-high-priority);
    cursor: pointer;
}

.activeOdd {
    border-color: var(--elements-orange);
    box-shadow: 0px 2px 10px 0px rgba(245, 116, 37, 0.5);
}

.odd div {
    text-align: center;
    border-bottom: 1px solid var(--transperent-accent-2);
    display: flex;
    align-items: center;
    height: 27px;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-mid-priority);
}

.activeOdd div {
    border-bottom-color: var(--transperent-accent-4);
}

.odd span {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-accent-2);
}

.activeOdd span {
    color: var(--elements-orange);
}

.more {
    border-radius: 6px;
    height: 57px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: var(--surface-high-priority);
    justify-content: end;
    min-width: 38px;
    overflow: hidden;
}

.more div {
    margin-left: 12px;
    font-weight: 700;
    font-size: 13px;
    color: var(--text-accent-2);
    margin-right: auto;
}

.more p {
    margin-right: 13px;
    margin-left: 12px;
}

.teamsWrapper .more {
    display: none;
}

.tagFilter {
    display: none;
}

.mobileBasket {
    display: none;
}

.timeSort img {
    display: none;
}

.displayNone {
    display: none;
}

@media (max-width: 1918px) {
    .oddsWrapper {
        max-width: 344px;
    }

    .displayNoneFirst {
        display: none;
    }

    .oddsHeading {
        max-width: 168px;
    }
}

@media (max-width: 1740px) {
    .oddsWrapper {
        min-width: 168px;
        max-width: 168px;
    }

    .displayNoneSecond {
        display: none;
    }
}

@media (max-width: 1562px) {
    .displayNoneFirst, .displayNoneSecond, .displayNone {
        display: block;
    }

    .teams > p {
        display: inline;
    }

    .wrapper {
        max-width: calc(100vw - 112px);
    }

    .teamsHeading > div {
        display: none;
    }

    .teamsHeading > p {
        margin-right: auto;
        width: 72px;
        height: 24px;
        background-color: var(--transperent-accent-1);
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .teamsHeading span {
        width: 28px;
        height: 28px;
        border-radius: 8px;
        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .teamsHeading img {
        height: 18px;
    }

    .more {
        display: none;
    }

    .teamsWrapper {
        width: 100%;
        margin-bottom: 9px;
    }

    .teamsWrapper .more {
        display: flex;
        margin-left: auto;
        gap: 8px;
    }

    .teamsWrapper .more p {
        margin-right: 0;
        margin-left: 0;
        height: 21px;
        display: flex;
        align-items: center;
    }

    .teams {
        height: 21px;
        justify-content: start;
        padding: 0;
    }

    .teams > p {
        margin: 0 3px 0 5px;
    }

    .teams span {
        display: none;
    }

    .event {
        background-color: transparent;
        align-items: start;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .more {
        height: auto;
        width: auto;
    }

    .oddsWrapper {
        width: 107%;
        max-width: max-content;
        margin: 0 -16px;
        padding: 0 16px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

@media (max-width: 1370px) {
    .timeSort {
        gap: 4px;
    }
}

@media (max-width: 1350px) {
    .timeSort img {
        display: inline-block;
        cursor: pointer;
        margin-left: 10px;
    }
}

@media (max-width: 500px) {
    .timeSort > div {
        display: none;
    }

    .wrapper {
        max-width: 100%;
    }

    .contentHeading {
        padding: 3px 16px 0;
        margin-bottom: 11px;
    }

    .content {
        padding-bottom: 49px;
        height: calc(100vh - 146px);
        margin-top: -16px;
        padding-top: 16px;
    }

    .events {
        border-radius: 0;
        padding-bottom: 4px;
        margin-bottom: 0;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
    }

    .eventHeading {
        border-radius: 0;
    }

    .eventWrapper {
        padding: 14px 16px 0;
        margin-bottom: 12px;
    }

    .teamsHeading {
        margin-bottom: 10px;
    }

    .oddsWrapper {
        margin: 0 -16px;
        padding: 0 16px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .tagFilter {
        display: flex;
        height: 36px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 16px;
        margin-bottom: 16px;
        gap: 8px;
    }

    .tag {
        padding: 0 16px 0 12px;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 18px;
        border: 1px solid var(--surface-mid-priority);
        font-size: 13px;
        font-weight: 500;
        color: var(--text-accent-2);
        white-space: nowrap;
        background-color: var(--surface-high-priority);
    }

    .tag img {
        margin-right: 8px;
    }

    .tag span {
        margin-left: 4px;
        color: var(--text-low-priority);
    }

    .mobileBasket {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 74px;
        height: 28px;
        padding-left: 12px;
        display: flex;
        align-items: center;
        background-color: var(--text-accent-2);
        color: var(--text-ctas-buttons);
        font-size: 13px;
        font-weight: 700;
    }

    .mobileBasket img {
        position: absolute;
        right: 12px;
        top: -8px;
    }
}