
.betWrapper {
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--surface-mid-priority);
    padding: 0 8px 0 8px;
    position: relative;
}

.bet {
    cursor: pointer;
    color: var(--text-mid-priority);
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    display: flex;
    justify-content: right;
    gap: 5%;
    align-items: center;
    padding: 0 32px 0 3px;
}

.type {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: left;
    width: 75px;
    margin-right: 4%;
}

.date {
    text-align: right;
    width: 130px;
    min-width: 130px;
    margin: 0 auto;
}

.amount {
    width: 88px;
    text-align: center;
}

.potentialReturn {
    font-weight: 500;
    min-width: 110px;
    text-align: center;
}

.PRblue {
    color: var(--text-accent-2);
}

.PRgreen {
    color: var(--text-accent-1);
}

.PRred {
    color: var(--text-accent-3);
}

.odds {
    text-align: center;
    min-width: 81px;
}

.results {
    min-width: 70px;
    height: 24px;
    background-color: var(--elements-transperent-black-40);
    color: var(--text-ctas-buttons);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.resultGreen {
    background-color: var(--transperent-accent-1);
    color: var(--text-accent-1);
}

.resultRed {
    background-color: var(--transperent-accent-3);
    color: var(--text-accent-3);
}

.status {
    min-width: 70px;
}

.status > button {
    width: 70px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.arrow {
    position: absolute;
    top: 16px;
    right: 14px;
    transform: rotate(180deg);
    cursor: pointer;
}

:global(.openBet) .arrow {
    transform: rotate(0deg);
}

@media (max-width: 1039px) {
    .bet {
        gap: 8px;
    }
}


@media (max-width: 860px) {
    .date, .amount {
        display: none;
    }

    .type {
        margin-right: auto;
    }
}

@media (max-width: 600px) {
    .type > svg {
        display: none;
    }

    .type {
        width: 46px;
        margin-right: 0;
    }

    .potentialReturn {
        min-width: 50px;
        max-width: 50px;
    }

    .odds {
        min-width: 62px;
        width: 62px;
    }

    .results {
        min-width: 52px;
        width: 52px;
        height: 36px;
        border-radius: 18px;
    }

    .status {
        min-width: 66px;
        width: 66px;
    }

    .status > button {
        border-radius: 18px;
        height: 36px;
        width: 66px;
    }

    .betWrapper {
        border-radius: 0;
        margin-top: 0;
    }

    .bet {
        height: 50px;
        justify-content: space-between;
    }
}