.open {
    color: var(--text-accent-2);
    background-color: var(--transperent-accent-2);
    cursor: initial;
}

.claim {
    position: relative;
    color: var(--text-ctas-buttons);
}

.claim > span {
    position: relative;
    z-index: 1;
}

.claim > div {
    width: 70px;
    height: 24px;
    position: absolute;
    border-radius: 12px;
}

.canceled, .claimed {
    background-color: var(--surface-background);
    color: var(--text-low-priority);
    cursor: initial;
}

@media (max-width: 500px) {
    .claim > div {
        width: 66px;
        height: 36px;
        border-radius: 18px;
    }
}